*{
  text-align: center;
}
.red{
  color: red;
}  
.green{
  color: green;
}
.wrap,
.parent-wrap,
.wrap-shadow,
.playground-wrap{
  border: 1px solid;
  padding: 20px;
  overflow: hidden;
}
.parent-wrap{
  display: flex;
  justify-content: center;
  border: none;
  padding: 0;
}
.parent-wrap div{
  margin: 15px;
}
.wrap.son{
  border-color: red;
}
.record{
  display: flex;
  justify-content: center;
}
.animal{
  border-bottom: 1px solid green;
}
.player{
  text-align: left;
}

.wrap.green{
  border-color: green;
}
.wrap.red{
  border-color: red;
}
.wrap-shadow{
  box-shadow: 0 0 3px #000;
}