/**{margin: 0;padding: 0}*/
h1{text-align: center;}
li{list-style: none; }
a{text-decoration: none;}
a:link{color: rgb(7,203,201); }
a:visited {color: gray; }
a:hover{color: red; }
a:active{color: orange; }
section.catalogue{
	/*border: 1px solid red;*/
	cursor: pointer;
}
section.catalogue.active{
	/*border: 1px solid rgb(7,203,201);*/
	/*transition: all .3s;*/
}
section.catalogue > p >.arrow::after{
	content: '➳';
}
section.catalogue.active > p > .arrow::after{
	content: '➴';
}
section.catalogue > ol.list{
	transition: all .5s;
	opacity: 0;
	transform: translateY(100px);
}
section.catalogue.active ol.list{
	opacity: 1;
	transform: translateY(0);
}

