/**{margin: 0;padding: 0}*/
h1{text-align: center;}
li{list-style: none; }
a{text-decoration: none;}
a:link{color: rgb(7,203,201); }
a:visited {color: gray; }
a:hover{color: red; }
a:active{color: orange; }
section.catalogue{
	border: 1px solid red;
	transition: all .3s;
}
section.catalogue.active{
	border: 1px solid rgb(7,203,201);
}
section.catalogue p::after{
	content: ': >';
	display: inline-block;
}
section.catalogue.active p::after{
	content: ': |';
}
section.catalogue ol.list{
	display: none;
}
section.catalogue.active ol.list{
	display: block;
}

