/**{margin: 0;padding: 0}*/
h1{text-align: center;}
a{text-decoration: none;}
a:link{
    color: rgb(7,203,201);
}
a:visited {
    color: gray;
}
a:hover{
    color: red;
}
a:active{
    color: orange;
}
p.catalogue{
	transition: all .3s;
}
p.catalogue::after{
	content: ': >';
	display: inline-block;
}
p.catalogue.active::after{
	content: ': |';
}
ol{
    transition:  all .3s;  
}
ol.list{
	display: none;
}
ol.active{
	display: block;
}

li{
    list-style: none;
}